layer base {
  @font-face {
    font-family: 'ProximaNova' ;
    font-weight:700;
    src: url(../public/fonts/ProximaNova-Bold.woff) format('woff'),
    url(../public/fonts/ProximaNova-Bold.woff2) format('woff2');
  }
  @font-face {
    font-family: 'ProximaNovaLight' ;
    font-weight:400;
    src: url(../public/fonts/ProximaNova-Semibold.woff) format('woff'),
    url(../public/fonts/ProximaNova-Semibold.woff2) format('woff2');
  }
  @font-face {
    font-family: 'ProximaNovaThin' ;
    font-weight:400;
    src: url(../public/fonts/ProximaNova-Light.woff) format('woff'),
    url(../public/fonts/ProximaNova-Light.woff2) format('woff2');
  }
}