@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: 'ProximaNova' ;
    font-weight:700;
    src: url(../public/fonts/ProximaNova-Bold.woff) format('woff'),
    url(../public/fonts/ProximaNova-Bold.woff2) format('woff2');
  }
  @font-face {
    font-family: 'ProximaNovaLight' ;
    font-weight:400;
    src: url(../public/fonts/ProximaNova-Semibold.woff) format('woff'),
    url(../public/fonts/ProximaNova-Semibold.woff2) format('woff2');
  }
  @font-face {
    font-family: 'ProximaNovaThin' ;
    font-weight:400;
    src: url(../public/fonts/ProximaNova-Light.woff) format('woff'),
    url(../public/fonts/ProximaNova-Light.woff2) format('woff2');
  }

  .list {
    font-weight: 400;
    font-size: 1.125rem;
    letter-spacing: -0.56px;
    color:rgba(56, 65, 93, 0.82);
  }
    .list li:before {
      content: '';
      margin-right: 1rem;
      margin-bottom: 2px;
      width: 9px; /* same as padding-left set on li */
      height: 9px;
      background-color:rgba(56, 69, 100, 0.6326);
      display:inline-block;
    }
  
}

@layer components {
  .container {
      @apply max-w-[1256px];
  }
  .pcMap{
    @apply relative bottom-[275px] left-[15px] z-20 max-w-[244px];
  }
  .pined {
    @apply w-[16px] fill-[#70778B] relative bottom-[120px] right-[40px] hover:cursor-pointer ;
  }
}